<div class="row h4 pd-1 justify-content-center text-muted">新規アカウント作成</div>
<div class="container bg-light rounded">
  <%= render 'form', user: @user %>
  <%= link_to '⇦ログインフォームへ', new_session_path, class:"text-muted" %>
</div>
